// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

#map {
  height: 300px;
}

#show_map {
  height: 300px;
}

#edit_map {
  height: 300px;
}
